html {
    font-size: 10px;
    line-height: 10px;
    color: $primaryColor1;
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    font-style: normal;
}

/*
.poppins-medium {
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-weight: 600;
    font-weight: 700;
} */

