.error-page__wrapper {
  max-width: 78.75rem;
  height: 100%;
  margin: 0 auto;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.error-page__title {
  font-size: 10rem;
  margin-top: 2rem;
}

.error-page__description {
  font-size: 2rem;
  margin-bottom: 2rem;
}