.main {
    width: 100%;
    max-width: $widthTemplate;
    margin: 0 auto;
    padding: 0 3.6%;
}

.flex-wrap-main {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding-top: 20px;
}

.main-aside {
    flex-basis: 260px;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    gap: 45px;
}

.aside-btn-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.aside-btn {
    font-family: "Open Sans", sans-serif;;
    font-size: 1.4rem;
    text-transform: uppercase;

    &:active {
        transform: scale(0.95);
    }
}