<section class="cart-wrapper">
  <h2 class="cart__title">Shopping cart</h2>
  <span class="cart__separator"></span>
  <div class="products__container">
  </div>
  <span class="cart__separator"></span>
  <div class="product-value__sum">
    <span>Total </span>
    <span class="product-value__sum_colored"></span>
  </div>
  <span class="cart__separator"></span>
  <button class="button button__submit button__submit_cart" type="submit">Continue shopping</button>

  <template id="product-template">
    <div class="product">
      <div class="product__header">
        <div class="product__image"></div>
        <div class="product__info">
          <h4 class="product__title">
            <span class="product__subtitle">Product title: </span>
            <span class="product__title_item"></span>
          </h4>
          <div class="product__brand">
            <span class="product__subtitle">Brand: </span>
            <span class="product__brand_item"></span>
          </div>
          <div class="product__category">
            <span class="product__subtitle">Category: </span>
            <span class="product__category_item"></span>
          </div>
          <div class="product__description">
              <span class="product__subtitle">Description: </span>
              <span class="product__description_item"></span>
          </div>
          <div class="product__rating">
            <span class="product__subtitle">Rating: </span>
            <span class="product__rating_item"></span>
          </div>
          <div class="product__price">
            <span class="product__subtitle">Price: </span>
            <span class="product__price_item"></span>
          </div>
          <div class="product__quantity">
            <span class="product__subtitle">Quantity: </span>
            <span class="product__counter">2</span>
            <span class="product__category"> pcs</span>
            <div class="cart__changer">
              <div class="minus"><span>&#8722;</span></div>
              <div class="plus"><span>+</span></div>
            </div>
          </div>
          <div class="product__stock">
            <span class="product__subtitle">Stock: </span>
            <span class="product__stock_item"></span>
          </div>
          <p class="product__price">
            <span class="product__subtitle">Subtotal: </span>
            <span class="product__subtotal"></span>
          </p>
        </div>
      </div>
    </div>
  </template>

</section>
