<section class="cart-wrapper">
  <h2 class="page__title">Shopping cart</h2>
  <span class="cart__separator"></span>
  <div class="products__container">
    <div class="product">
      <div class="product__header">
        <div class="product__image"></div>
        <div class="product__info">
          <h4 class="product__title"><span class="product__subtitle">Product title: </span>iPhone 9</h4>
          <p class="product__brand"><span class="product__subtitle">Brand: </span>Apple</p>
          <p class="product__category"><span class="product__subtitle">Category: </span>smartphones</p>
          <div class="product__description">
            <p>
              <span class="product__subtitle">Description: </span>SIM-Free, Model A19211 6.5-inch Super Retina HD
              display with OLED technology A12 Bionic chip with ...
            </p>
          </div>
          <p class="product__rating"><span class="product__subtitle">Rating: </span>5.0</p>
          <p class="product__price"><span class="product__subtitle">Price: </span>899<span> USD</span></p>
          <div class="product__quantity">
            <span class="product__subtitle">Quantity: </span>
            <div class="product__counter">2</div>
            <span> pcs</span>
            <div class="cart__changer">
              <div class="minus"><span>&#8722;</span></div>
              <div class="plus"><span>+</span></div>
            </div>
          </div>
          <p class="product__price"><span class="product__subtitle">Subtotal: </span>1798<span> USD</span></p>
        </div>
      </div>
    </div>
  </div>
  <span class="cart__separator"></span>
  <div class="product-value__sum"><span>Total </span><span class="product-value__sum_colored">3000</span> USD</div>
  <span class="cart__separator"></span>
  <button class="button button__submit button__submit_cart" type="submit">Continue shopping</button>
</section>
