<section class="goods-wrapper">
  <div class="prod__box">
    <div class="prod-photo__box"></div>
    <div class="prod-photo__popup">
      <img src="" alt="Big product photo" class="popup__item">
    </div>
    <div class="prod-item__info">
      <h2 class="prod-brand__title"></h2>
      <div class="prod__rating"></div>
      <p class="prod__description"></p>
      <div class="prod__specs">
        <div class="prod__item">
          <span class="prod__subtitle">Brand: </span>
          <span class="prod__category prod__category_brand"></span>
        </div>
        <div class="prod__item">
          <span class="prod__subtitle">Title: </span>
          <span class="prod__category prod__category_title"></span>
        </div>
        <div class="prod__item">
          <span class="prod__subtitle">Category: </span>
          <span class="prod__category prod__category_category"></span>
        </div>
        <div class="prod__item">
          <span class="prod__subtitle">rating: </span>
          <span class="prod__category prod__category_rating"></span>
        </div>
        <div class="prod__item">
          <span class="prod__subtitle">Stock: </span>
          <span class="prod__category prod__category_stock"></span>
        </div>
      </div>
      <div class="prod-order__box">
        <div class="prod__price">
          <div class="prod__category prod__category_price"></div>
          <div class="prod__category prod__category_fullprice"></div>
        </div>
        <div class="product__quantity">
          <div class="product__counter">0</div>
          <span class="product__category"> pcs</span>
          <div class="cart__changer cart__changer_goods">
            <div class="minus"><span>&#8722;</span></div>
            <div class="plus"><span>+</span></div>
          </div>
        </div>
        <button class="button button__submit button__submit_cart" type="submit">+ Add to cart</button>
      </div>
    </div>
  </div>
</section>
