<ul class="selected-filters-block">
    <li class="selected-filters-block__title">Applied filtres:</span>
    <li class="selected-filters-block__item">Selected filter</li>
    <li class="selected-filters-block__item">Selected filter</li>
</ul>

<div class="flex-wrap-main">

    <aside class="main-aside">
        <section class="checkbox-block">
            <div class="checkbox-block__title">Category</div>
            <ul class="checkbox-block__list">
                <li class="checkbox-block__item checkbox-block__item_disabled">
                    <!-- .checkbox-block__item_disabled Состояние при отсутствии товаров по фильтру-->
                    <label class="checkbox-block__label">
                        <input class="checkbox-block__input" type="checkbox" name="category" value="smartphones">
                        <span class="checkbox-block__input-fake"></span>
                        <span class="checkbox-block__text">Smartphones</span>
                    </label>
                    <div class="checkbox-block__count-wrap">
                        <span class="checkbox-block__count-current">0</span>
                        <span class="checkbox-block__count-separator">/</span>
                        <span class="checkbox-block__count-total">5</span>
                    </div>
                </li>
                <li class="checkbox-block__item">
                    <label class="checkbox-block__label">
                        <input class="checkbox-block__input" type="checkbox" name="category" value="laptops">
                        <span class="checkbox-block__input-fake"></span>
                        <span class="checkbox-block__text">Laptops</span>
                    </label>
                    <div class="checkbox-block__count-wrap">
                        <span class="checkbox-block__count-current">5</span>
                        <span class="checkbox-block__count-separator">/</span>
                        <span class="checkbox-block__count-total">5</span>
                    </div>
                </li>
                <li class="checkbox-block__item">
                    <label class="checkbox-block__label">
                        <input class="checkbox-block__input" type="checkbox" name="category" value="fragrances">
                        <span class="checkbox-block__input-fake"></span>
                        <span class="checkbox-block__text">Fragrances</span>
                    </label>
                    <div class="checkbox-block__count-wrap">
                        <span class="checkbox-block__count-current">5</span>
                        <span class="checkbox-block__count-separator">/</span>
                        <span class="checkbox-block__count-total">5</span>
                    </div>
                </li>
                <li class="checkbox-block__item">
                    <label class="checkbox-block__label">
                        <input class="checkbox-block__input" type="checkbox" name="category" value="skincare">
                        <span class="checkbox-block__input-fake"></span>
                        <span class="checkbox-block__text">Skincare</span>
                    </label>
                    <div class="checkbox-block__count-wrap">
                        <span class="checkbox-block__count-current">5</span>
                        <span class="checkbox-block__count-separator">/</span>
                        <span class="checkbox-block__count-total">5</span>
                    </div>
                </li>
                <li class="checkbox-block__item">
                    <label class="checkbox-block__label">
                        <input class="checkbox-block__input" type="checkbox" name="category" value="groceries">
                        <span class="checkbox-block__input-fake"></span>
                        <span class="checkbox-block__text">Groceries</span>
                    </label>
                    <div class="checkbox-block__count-wrap">
                        <span class="checkbox-block__count-current">5</span>
                        <span class="checkbox-block__count-separator">/</span>
                        <span class="checkbox-block__count-total">5</span>
                    </div>
                </li>
                <li class="checkbox-block__item">
                    <label class="checkbox-block__label">
                        <input class="checkbox-block__input" type="checkbox" name="category" value="home-decoration">
                        <span class="checkbox-block__input-fake"></span>
                        <span class="checkbox-block__text">Home decoration</span>
                    </label>
                    <div class="checkbox-block__count-wrap">
                        <span class="checkbox-block__count-current">5</span>
                        <span class="checkbox-block__count-separator">/</span>
                        <span class="checkbox-block__count-total">5</span>
                    </div>
                </li>
                <li class="checkbox-block__item">
                    <label class="checkbox-block__label">
                        <input class="checkbox-block__input" type="checkbox" name="category" value="furniture">
                        <span class="checkbox-block__input-fake"></span>
                        <span class="checkbox-block__text">Furniture</span>
                    </label>
                    <div class="checkbox-block__count-wrap">
                        <span class="checkbox-block__count-current">5</span>
                        <span class="checkbox-block__count-separator">/</span>
                        <span class="checkbox-block__count-total">5</span>
                    </div>
                </li>
                <li class="checkbox-block__item">
                    <label class="checkbox-block__label">
                        <input class="checkbox-block__input" type="checkbox" name="category" value="tops">
                        <span class="checkbox-block__input-fake"></span>
                        <span class="checkbox-block__text">Tops</span>
                    </label>
                    <div class="checkbox-block__count-wrap">
                        <span class="checkbox-block__count-current">5</span>
                        <span class="checkbox-block__count-separator">/</span>
                        <span class="checkbox-block__count-total">5</span>
                    </div>
                </li>
                <li class="checkbox-block__item">
                    <label class="checkbox-block__label">
                        <input class="checkbox-block__input" type="checkbox" name="category" value="womens-dresses">
                        <span class="checkbox-block__input-fake"></span>
                        <span class="checkbox-block__text">Womens dresses</span>
                    </label>
                    <div class="checkbox-block__count-wrap">
                        <span class="checkbox-block__count-current">5</span>
                        <span class="checkbox-block__count-separator">/</span>
                        <span class="checkbox-block__count-total">5</span>
                    </div>
                </li>
                <li class="checkbox-block__item">
                    <label class="checkbox-block__label">
                        <input class="checkbox-block__input" type="checkbox" name="category" value="womens-shoes">
                        <span class="checkbox-block__input-fake"></span>
                        <span class="checkbox-block__text">Womens shoes</span>
                    </label>
                    <div class="checkbox-block__count-wrap">
                        <span class="checkbox-block__count-current">5</span>
                        <span class="checkbox-block__count-separator">/</span>
                        <span class="checkbox-block__count-total">5</span>
                    </div>
                </li>
                <li class="checkbox-block__item">
                    <label class="checkbox-block__label">
                        <input class="checkbox-block__input" type="checkbox" name="category" value="mens-shirts">
                        <span class="checkbox-block__input-fake"></span>
                        <span class="checkbox-block__text">Mens shirts</span>
                    </label>
                    <div class="checkbox-block__count-wrap">
                        <span class="checkbox-block__count-current">5</span>
                        <span class="checkbox-block__count-separator">/</span>
                        <span class="checkbox-block__count-total">5</span>
                    </div>
                </li>
                <li class="checkbox-block__item">
                    <label class="checkbox-block__label">
                        <input class="checkbox-block__input" type="checkbox" name="category" value="mens-shoes">
                        <span class="checkbox-block__input-fake"></span>
                        <span class="checkbox-block__text">Mens shoes</span>
                    </label>
                    <div class="checkbox-block__count-wrap">
                        <span class="checkbox-block__count-current">5</span>
                        <span class="checkbox-block__count-separator">/</span>
                        <span class="checkbox-block__count-total">5</span>
                    </div>
                </li>
                <li class="checkbox-block__item">
                    <label class="checkbox-block__label">
                        <input class="checkbox-block__input" type="checkbox" name="category" value="mens-watches">
                        <span class="checkbox-block__input-fake"></span>
                        <span class="checkbox-block__text">Mens watches</span>
                    </label>
                    <div class="checkbox-block__count-wrap">
                        <span class="checkbox-block__count-current">5</span>
                        <span class="checkbox-block__count-separator">/</span>
                        <span class="checkbox-block__count-total">5</span>
                    </div>
                </li>
                <li class="checkbox-block__item">
                    <label class="checkbox-block__label">
                        <input class="checkbox-block__input" type="checkbox" name="category" value="womens-watches">
                        <span class="checkbox-block__input-fake"></span>
                        <span class="checkbox-block__text">Womens watches</span>
                    </label>
                    <div class="checkbox-block__count-wrap">
                        <span class="checkbox-block__count-current">5</span>
                        <span class="checkbox-block__count-separator">/</span>
                        <span class="checkbox-block__count-total">5</span>
                    </div>
                </li>
                <li class="checkbox-block__item">
                    <label class="checkbox-block__label">
                        <input class="checkbox-block__input" type="checkbox" name="category" value="womens-bags">
                        <span class="checkbox-block__input-fake"></span>
                        <span class="checkbox-block__text">Womens bags</span>
                    </label>
                    <div class="checkbox-block__count-wrap">
                        <span class="checkbox-block__count-current">5</span>
                        <span class="checkbox-block__count-separator">/</span>
                        <span class="checkbox-block__count-total">5</span>
                    </div>
                </li>
                <li class="checkbox-block__item">
                    <label class="checkbox-block__label">
                        <input class="checkbox-block__input" type="checkbox" name="category" value="womens-jewellery">
                        <span class="checkbox-block__input-fake"></span>
                        <span class="checkbox-block__text">Womens jewellery</span>
                    </label>
                    <div class="checkbox-block__count-wrap">
                        <span class="checkbox-block__count-current">5</span>
                        <span class="checkbox-block__count-separator">/</span>
                        <span class="checkbox-block__count-total">5</span>
                    </div>
                </li>
                <li class="checkbox-block__item">
                    <label class="checkbox-block__label">
                        <input class="checkbox-block__input" type="checkbox" name="category" value="sunglasses">
                        <span class="checkbox-block__input-fake"></span>
                        <span class="checkbox-block__text">Sunglasses</span>
                    </label>
                    <div class="checkbox-block__count-wrap">
                        <span class="checkbox-block__count-current">5</span>
                        <span class="checkbox-block__count-separator">/</span>
                        <span class="checkbox-block__count-total">5</span>
                    </div>
                </li>
                <li class="checkbox-block__item">
                    <label class="checkbox-block__label">
                        <input class="checkbox-block__input" type="checkbox" name="category" value="automotive">
                        <span class="checkbox-block__input-fake"></span>
                        <span class="checkbox-block__text">Automotive</span>
                    </label>
                    <div class="checkbox-block__count-wrap">
                        <span class="checkbox-block__count-current">5</span>
                        <span class="checkbox-block__count-separator">/</span>
                        <span class="checkbox-block__count-total">5</span>
                    </div>
                </li>
                <li class="checkbox-block__item">
                    <label class="checkbox-block__label">
                        <input class="checkbox-block__input" type="checkbox" name="category" value="motorcycle">
                        <span class="checkbox-block__input-fake"></span>
                        <span class="checkbox-block__text">Motorcycle</span>
                    </label>
                    <div class="checkbox-block__count-wrap">
                        <span class="checkbox-block__count-current">5</span>
                        <span class="checkbox-block__count-separator">/</span>
                        <span class="checkbox-block__count-total">5</span>
                    </div>
                </li>
                <li class="checkbox-block__item">
                    <label class="checkbox-block__label">
                        <input class="checkbox-block__input" type="checkbox" name="category" value="lighting">
                        <span class="checkbox-block__input-fake"></span>
                        <span class="checkbox-block__text">Lighting</span>
                    </label>
                    <div class="checkbox-block__count-wrap">
                        <span class="checkbox-block__count-current">5</span>
                        <span class="checkbox-block__count-separator">/</span>
                        <span class="checkbox-block__count-total">5</span>
                    </div>
                </li>
            </ul>
        </section>

        <section class="checkbox-block">
            <div class="checkbox-block__title">Brand</div>
            <ul class="checkbox-block__list">
                <li class="checkbox-block__item">
                    <label class="checkbox-block__label">
                        <input class="checkbox-block__input" type="checkbox" name="category" value="apple">
                        <span class="checkbox-block__input-fake"></span>
                        <span class="checkbox-block__text">Apple</span>
                    </label>
                    <div class="checkbox-block__count-wrap">
                        <span class="checkbox-block__count-current">3</span>
                        <span class="checkbox-block__count-separator">/</span>
                        <span class="checkbox-block__count-total">3</span>
                    </div>
                </li>
                <li class="checkbox-block__item">
                    <label class="checkbox-block__label">
                        <input class="checkbox-block__input" type="checkbox" name="category" value="samsung">
                        <span class="checkbox-block__input-fake"></span>
                        <span class="checkbox-block__text">Samsung</span>
                    </label>
                    <div class="checkbox-block__count-wrap">
                        <span class="checkbox-block__count-current">2</span>
                        <span class="checkbox-block__count-separator">/</span>
                        <span class="checkbox-block__count-total">2</span>
                    </div>
                </li>
                <li class="checkbox-block__item">
                    <label class="checkbox-block__label">
                        <input class="checkbox-block__input" type="checkbox" name="category" value="oppo">
                        <span class="checkbox-block__input-fake"></span>
                        <span class="checkbox-block__text">OPPO</span>
                    </label>
                    <div class="checkbox-block__count-wrap">
                        <span class="checkbox-block__count-current">1</span>
                        <span class="checkbox-block__count-separator">/</span>
                        <span class="checkbox-block__count-total">1</span>
                    </div>
                </li>
                <li class="checkbox-block__item">
                    <label class="checkbox-block__label">
                        <input class="checkbox-block__input" type="checkbox" name="category" value="huawei">
                        <span class="checkbox-block__input-fake"></span>
                        <span class="checkbox-block__text">Huawei</span>
                    </label>
                    <div class="checkbox-block__count-wrap">
                        <span class="checkbox-block__count-current">1</span>
                        <span class="checkbox-block__count-separator">/</span>
                        <span class="checkbox-block__count-total">1</span>
                    </div>
                </li>
                <li class="checkbox-block__item">
                    <label class="checkbox-block__label">
                        <input class="checkbox-block__input" type="checkbox" name="category" value="microsoft surface">
                        <span class="checkbox-block__input-fake"></span>
                        <span class="checkbox-block__text">Microsoft Surface</span>
                    </label>
                    <div class="checkbox-block__count-wrap">
                        <span class="checkbox-block__count-current">1</span>
                        <span class="checkbox-block__count-separator">/</span>
                        <span class="checkbox-block__count-total">1</span>
                    </div>
                </li>
                <li class="checkbox-block__item">
                    <label class="checkbox-block__label">
                        <input class="checkbox-block__input" type="checkbox" name="category" value="infinix">
                        <span class="checkbox-block__input-fake"></span>
                        <span class="checkbox-block__text">Infinix</span>
                    </label>
                    <div class="checkbox-block__count-wrap">
                        <span class="checkbox-block__count-current">1</span>
                        <span class="checkbox-block__count-separator">/</span>
                        <span class="checkbox-block__count-total">1</span>
                    </div>
                </li>
                <li class="checkbox-block__item">
                    <label class="checkbox-block__label">
                        <input class="checkbox-block__input" type="checkbox" name="category" value="hp pavilion">
                        <span class="checkbox-block__input-fake"></span>
                        <span class="checkbox-block__text">HP Pavilion</span>
                    </label>
                    <div class="checkbox-block__count-wrap">
                        <span class="checkbox-block__count-current">1</span>
                        <span class="checkbox-block__count-separator">/</span>
                        <span class="checkbox-block__count-total">1</span>
                    </div>
                </li>
                <li class="checkbox-block__item">
                    <label class="checkbox-block__label">
                        <input class="checkbox-block__input" type="checkbox" name="category"
                            value="impression of acqua di gio">
                        <span class="checkbox-block__input-fake"></span>
                        <span class="checkbox-block__text">Impression of Acqua Di Gio</span>
                    </label>
                    <div class="checkbox-block__count-wrap">
                        <span class="checkbox-block__count-current">1</span>
                        <span class="checkbox-block__count-separator">/</span>
                        <span class="checkbox-block__count-total">1</span>
                    </div>
                </li>
            </ul>
        </section>

    </aside>

    <div class="product-list-wrap">

    </div>

</div>