@mixin mainBlock {
    width: 100%;
    max-width: $widthTemplate;
    margin: 0 auto;
    padding: 0 3.6%;
}

.header {
    @include mainBlock;

    &__contact-block {
        height: 48px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 1.2rem;
        border-bottom: 1px solid $primaryColor3;
    }

    &__main-block {
        height: 130px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

.overlay {
  display: none;

  &_active {
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: #00000080;
    transition: all 1s;
    z-index: 3;
  }
}

.logo {
    display: flex;
    align-items: center;
    gap: 5px;
    height: 50px;
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 30px;
    text-shadow: 1px 1px 1px rgba(70, 118, 10, 0.6);
    user-select: none;

    &__color {
        color: $primaryColor2;
    }
}

.search {
    width: 500px;
    height: 42px;
    padding: 0 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 24px;
    background: $primaryColor3;
    border: 1px solid #D1D1D1;
    border-radius: 12px;

    &__dropdown {
        flex-shrink: 0;
        padding: 5px 24px 5px 5px;
        width: 150px;
        font-size: 1.5rem;
    }

    &__separator {
        width: 1px;
        height: 2rem;
        background-color: $borderColor1;
    }

    &__input {
        width: 100%;
        background-color: transparent;
        font-size: 1.6rem;

        &:focus::placeholder {
            color: transparent;
        }

        &::placeholder {
            font-size: 1.4rem;
            opacity: 0.7;
        }
    }

    &__icon {
        cursor: pointer;
    }
}

.header-total-price {
    cursor: default;
    font-size: 1.8rem;

    &__sum {
        color: $primaryColor2;
    }
}

.header-cart-block {
    position: relative;

    &__count {
        position: absolute;
        bottom: -7px;
        left: -7px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 23px;
        height: 23px;
        font-size: 1.4rem;
        border-radius: 50%;
        color: $primaryColor4;
        background: $redCraft;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
        user-select: none;

        &_hidden {
            display: none;
        }
    }

    &__icon {
        width: 3rem;
    }
}

.breadcrumbs {
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 8px;
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    font-size: 1.4rem;

    &__links {
        cursor: pointer;

        &_colored {
            color: $textColor1;
        }

        &_disabled {
            cursor: default;
        }
    }


}