$widthTemplate: 1260px;
$primaryColor1: #151515;
$primaryColor2: #6A983C;
$primaryColor3: #F9F9F9;
$primaryColor4: #FFFFFF;

$textColor1: #A9A9A9;
$textColor2: #575757;

$borderColor1: #D1D1D1;
$borderColor2: #46760A;

$background1: #F4F8EC;

$greenLight: #C8DEB3;
$redCraft: #E6704B;

$buttonDisableBG: #F5F5F5;