.goods-wrapper {
  max-width: $widthTemplate;
  height: 100%;
  margin: 0 auto;
  padding: 1.6rem 4.2rem;
}

.prod__box {
  display: flex;
}

.prod-photo__box {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}

.prod-photo {
  overflow: hidden;
  width: 90%;
  &__item {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 1.2rem;
  }
}


.prod-item__info {
  width: 50%;
  min-height: 100%;
}

.prod-brand__title {
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 3.2rem;
  line-height: 140%;
  margin: 0 0 1rem 0;
}

.prod__rating {
  display: flex;
  flex-direction: row;
  margin: 0 0 4.2rem 0;
}

.rating_star {
  width: 1.8rem;
  height: 1.6rem;

  &_fill {
    background: url('./assets/icons/Rating_star_filled.svg');
  }
  &_empty {
    background: url('./assets/icons/Rating_star_empty.svg');
  }
}

.prod__description {
  font-family: 'Open Sans';
  font-weight: 400;
  font-size: 1.7rem;
  line-height: 130%;
  text-transform: capitalize;
  margin: 0 0 4rem 0;
}

.prod__category {
  font-family: 'Open Sans';
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 130%;
  text-decoration: underline;
  &_price {
    font-size: 2.6rem;
    font-weight: 600;
    line-height: 150%;
    text-decoration: none;
    color: $primaryColor2;
  }
  &_fullprice {
    text-decoration: line-through;
    color: #a9a9a9;
  }
}

.prod__subtitle {
  display: inline-block;
  width: 10rem;
  font-family: 'Open Sans';
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 130%;
  text-decoration: none;
  text-transform: capitalize;
  color: #a9a9a9;
}

.prod__specs {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  margin: 0 0 4rem 0;
}

.prod-order__box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.prod__price {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.prod-photo__popup {
  display: none;
}

