@import '../constants/constants';

.button {
  font-size: 1.5rem;
  font-weight: 700;
  height: 4.8rem;
  background: $primaryColor2;
  border: 2px solid $borderColor2;
  border-radius: 1.2rem;
  color: $primaryColor4;
  cursor: pointer;

  &__submit {
    width: 17.6rem;

    &_cart,
    &_buynow {
      margin: 0 1.6rem 1.6rem 0;
    }

  }

  &__delete_promo {
    height: 2.4rem;
    width: 2.4rem;
    text-align: center;
    border: 1px solid $borderColor2;
    text-decoration: none;
  }

  &:hover {
    background: #5c8830;
  }

  &:active {
    background: $borderColor2;
  }

  &:disabled {
    background-color: $buttonDisableBG;
    color: $primaryColor1;
    cursor: auto;
  }
}

.cart__changer {
  background: $primaryColor3;
  width: 6.4rem;
  height: 1.6rem;
  border: 1px solid $borderColor1;
  border-radius: 0.75rem;
  display: flex;
  overflow: hidden;
  user-select: none;
  height: 3rem;
}

.plus,
.minus {
  width: 50%;
  min-height: 100%;
  font-size: 1.6rem;
  font-weight: 700;
  text-align: center;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.minus {
  border-right: 1px solid $borderColor1;
}

.plus:hover,
.minus.hover {
  background: #eae8e8;
}

.plus:active,
.minus:active {
  background: #d1d0d0;
}

.light-block {
  height: 42px;
  padding: 0 15px;
  background: $primaryColor3;
  border: 1px solid $borderColor1;
  border-radius: 12px;
}