.dropdown {
    position: relative;
    text-align: left;
    cursor: pointer;
    user-select: none;

    &__arrow {
        position: absolute;
        top: 50%;
        right: 9px;
        transform: translateY(-50%) rotateZ(45deg);
        display: block;
        width: 10px;
        height: 10px;
        border-right: 3px solid $primaryColor2;
        border-bottom: 3px solid $primaryColor2;
        pointer-events: none;
        transition: all 0.3s ease;

        &_open {
            transform: translateY(-50%) rotateZ(225deg);
        }
    }

    &__selected {
        font-weight: 700;
    }

    &__list {
        position: absolute;
        top: 32px;
        left: 0;
        z-index: 10;
        width: 150px;
        background-color: $primaryColor3;
        border: 1px solid $borderColor1;
        border-radius: 6px;
        box-shadow: 0px 4px 8px rgba(176, 198, 225, 0.6);
        overflow: hidden;

        &_hidden {
            display: none;
        }
    }

    &__item {
        line-height: 3.5rem;
        padding-left: 10px;

        &:hover {
            background-color: $borderColor1;
        }
    }

    &__item:not(:first-child) {
        border-top: 1px solid $borderColor1;
    }

    &__item_selected {
        cursor: default;
        color: $textColor1;
        background-color: transparent;

        &:hover {
            background-color: transparent;
        }
    }
}